Source: liberasurecode
Section: libs
Priority: extra
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Ondřej Nový <novy@ondrej.org>,
Build-Depends: autoconf-archive,
               autotools-dev,
               debhelper (>= 9),
               dh-autoreconf,
Standards-Version: 3.9.8
Homepage: https://github.com/openstack/liberasurecode
Vcs-Git: https://anonscm.debian.org/git/openstack/liberasurecode.git
Vcs-Browser: https://anonscm.debian.org/cgit/openstack/liberasurecode.git/

Package: liberasurecode-dev
Section: libdevel
Architecture: any
Depends: liberasurecode1 (= ${binary:Version}),
         ${misc:Depends},
Description: support of multiple erasure code backends - development files
 Liberasurecode is an erasure code library which can support multiple erasure
 code 'backends'. The repository includes a Jerasure for Reed-Solomon
 implementation.
 .
 This package contains the development files needed to build against the shared
 library.

Package: liberasurecode1
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Suggests: libjerasure2,
          libisal2,
Breaks: liberasurecode0,
Replaces: liberasurecode0,
Multi-Arch: same
Description: support of multiple erasure code backends - shared library
 Liberasurecode is an erasure code library which can support multiple erasure
 code 'backends'. The repository includes a Jerasure for Reed-Solomon
 implementation.
 .
 This package contains the shared library.
